.wrapper
 
 = render "shared/chat-side"
 
 .chat-main
  .chat-main__main-header
   .chat-main__main-header--left-box
    %h2.left-box-current-group
     test-group
    %ul.group-member-list
     Member：
     %li.member-list-name 
      kakihara
   =link_to '/groups/edit' do
    .chat-main__header--edit-btn Edit
  .messages
   = render partial: 'message', collection: @messages
  .form
   = form_for [@group, @message] do |f|
    .input-box
     = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
     = f.label :image, class: 'input-box__image' do
      = fa_icon 'picture-o', class: 'icon'
      = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'submit-btn'
  