.wrapper
 
 = render "shared/chat-side"
 
 .chat-main
  .chat-main__main-header
   .chat-main__main-header--left-box
    %h2.left-box-current-group
     =@group.name
    %ul.group-member-list
     Member：
     - @group.users.each do |user|
      %li= user.name
    
   =link_to edit_group_path(@group) do
    .chat-main__header--edit-btn Edit
  .messages
   = render @messages
  .form
   = form_for [@group, @message] do |f|
    .input-box
     = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
     = f.label :image, class: 'input-box__image' do
      = fa_icon 'picture-o', class: 'icon'
      = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'submit-btn'
  